<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are a few categories for services projects:</p>
        <ul>
            <% categories.forEach(category=> { %>
                <li> <%= category.name %> </li>
            <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>